<h1>Basic Python - Work with SQLite Database

Các thao tác cơ bản:
<ul>
    <li>Tạo bảng mới (CREATE TABLE)</li>
    <li>Lấy dữ liệu (SELECT): Lấy toàn bộ, lấy cột, lấy theo điều kiện</li>
    <li>Thê dữ liệu(INSERT)</li>
    <li>Cập nhật dữ liệu(UPDATE)</li>
    <li>Xóa dữ liệu(DELETE)</li>
</ul>

In [6]:
import pandas as pd
import sqlite3

3. Sử dụng sqlite trong python

In [ ]:
connection = sqlite3.connect('database.db') #Connect database
cursor = connection.cursor() #execute query in database

a. Tạo bảng(CREATE TABLE)

In [7]:
cursor.execute("""
CREATE TABLE CUSTOMERS(
    EMAIL TEXT PRIMARY KEY,
    NAME TEXT NOT NULL,
    PHONE TEXT NOT NULL
);
""")

b. Thêm dữ liệu vào bảng(INSERT)

In [8]:
cursor.execute("""
INSERT INTO CUSTOMERS(EMAIL, NAME, PHONE)
VALUES
    ('nguyen@aivietnam.edu.vn', 'Nguyen', '123456789'),
    ('admin@aiviet.edu.vn', 'Vinh', '112345678');
""")
connection.commit()

c. Lấy dữ liệu(SELECT)

In [10]:
import pandas as pd

data = pd.read_sql_query('Select * from customers', connection)
print(data)

                     EMAIL    NAME      PHONE
0  nguyen@aivietnam.edu.vn  Nguyen  123456789
1      admin@aiviet.edu.vn    Vinh  112345678

d. Cập nhật dữ liệu

In [15]:
#Update name của email: nguyen@aivietnam.edu.vn
cursor.execute(
"""
UPDATE CUSTOMERS
SET NAME = 'Hoang Nguyen'
WHERE 1 = 1
AND EMAIL = 'nguyen@aivietnam.edu.vn';
"""
)
connection.commit()

data = pd.read_sql_query('select * from customers', connection)
print(data)

                     EMAIL          NAME      PHONE
0  nguyen@aivietnam.edu.vn  Hoang Nguyen  123456789
1      admin@aiviet.edu.vn          Vinh  112345678

e. Xóa dữ liệu (DELETE)

In [18]:
#delete name của email: nguyen@aivietnam.edu.vn
cursor.execute(
"""
DELETE FROM CUSTOMERS
WHERE 1 = 1
AND EMAIL = 'nguyen@aivietnam.edu.vn';
"""
)
connection.commit()

data = pd.read_sql_query('select * from customers', connection)
print(data)

                 EMAIL  NAME      PHONE
0  admin@aiviet.edu.vn  Vinh  112345678

In [19]:
#Drop table product
cursor.execute(
"""
DROP TABLE PRODUCT
"""
)

connection.commit()

4. Bài tập<br>
- tạo bảng có tên Product

In [20]:
# Connect database
connection = sqlite3.connect('database.db')
cursor = connection.cursor()

In [21]:
cursor.execute(
"""
CREATE TABLE PRODUCT(
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTEGER NOT NULL
);
"""
)

connection.commit()

In [22]:
data = pd.read_sql_query('select * from product', connection)
print(data)

Empty DataFrame
Columns: [ID, NAME, PRICE]
Index: []

Câu 1: Thêm mới các giá trị

In [27]:
cursor.execute(
"""
INSERT INTO PRODUCT(ID, NAME, PRICE)
VALUES
    (1, 'iPhone 15', 18000000),
    (2, 'Galaxy Z-Fold 5', 30000000);
"""
)
connection.commit()

In [28]:
data = pd.read_sql_query('select * from product', connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

Câu 2: Cập nhật giá trị mới cho Galaxy Z-Fold 5

In [29]:
cursor.execute(
"""
UPDATE PRODUCT
SET PRICE = 50000000
WHERE NAME = 'Galaxy Z-Fold 5';
"""
)

connection.commit()

In [31]:
data = pd.read_sql_query('select * from product', connection)
print(data)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

Câu 3: Xóa iPhone 15

In [33]:
cursor.execute(
"""
DELETE FROM PRODUCT
WHERE NAME = 'iPhone 15';    
"""
)
connection.commit()

In [34]:
data = pd.read_sql_query('select * from product', connection)
print(data)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000