Question 1: Which is the output of the following program?

In [2]:
n = 1
for i in range(0, 500, 100):
    n = i
print(n)

400

Question 2: Which is the output of the following program?

In [1]:
data = "I'm learning Python"
print(data.split()[1])

learning

Question 3: Which is the output of the following program?

In [4]:
def check_the_number(N):
    list_of_numbers = []
    results = ""
    for i in range(1, 5):
        list_of_numbers.append(i)
    if N in list_of_numbers:
        results = True
    if N not in list_of_numbers:
        results = False
    return results

N = 2
results = check_the_number(N)
print(results)

True

Question 4:

In [5]:
data = 'my list: [1, 2, [3, 4]]'
print(type(data))

<class 'str'>

Question 5:

In [6]:
"Eiffel" > "Apple"

True

Question 6:

In [15]:
n = 0
for i in range(5):
    print(f'i = {i}')
    n += i
    print(f'n = {n}')
    if n>0 and n%3 == 0:
        break
print(n)

i = 0
n = 0
i = 1
n = 1
i = 2
n = 3
3

Question 7:

In [16]:
space1 = "Cherry Blossom After Winter"
space2 = "Flowers are blooming on the hillsides, which signals the coming of spring"
space = space1 + space2
print(space[-6:])

spring

Question 8

In [17]:
my_list = [0, 1, 1, 2, 1]
odd = 1
even = 0

for number in my_list:
    if number % 2 == 0:
        odd += number
    else:
        even += number
print(f'odd: {odd}, even: {even}')

odd: 3, even: 3

Question 9

In [24]:
weather = '@the drizzle in spring makes the air more humid. @@' 
me = 'i love iT!'

txt = weather.strip('@').capitalize() + me.title
print(txt)

TypeError: can only concatenate str (not "builtin_function_or_method") to str

Question 10:

In [25]:
data = [1, 9, 3, -3]
data.sort()
print(data)

[-3, 1, 3, 9]

Question 11:

In [26]:
my_exam = 'Under the drizzle, the flower field seems covering with the glitter water drops!'
print(my_exam.strip('!').split())

['Under', 'the', 'drizzle,', 'the', 'flower', 'field', 'seems', 'covering', 'with', 'the', 'glitter', 'water', 'drops']

Question 12:

In [29]:
my_string = 'Peach blossoms bloom in spring'

my_bag_of_word = []
for element in my_string:
    if element not in my_bag_of_word:
        my_bag_of_word.append(element)

print(my_bag_of_word)

['P', 'e', 'a', 'c', 'h', ' ', 'b', 'l', 'o', 's', 'm', 'i', 'n', 'p', 'r', 'g']

Question 13

In [30]:
my_string = 'My name is Tom'
results = my_string.count('m')

print(results)

2

In [43]:
even_numbers = [x for x in range(1, 5) if x % 2==0]
print(even_numbers)

[2, 4]

Question 15:

In [44]:
X = [[1, 1],
     [2, 2]]
result = [[0, 0],
          [0, 0]]

for i in range(len(X)):
    for j in range(len(X[0])):
        result[j][i] = X[i][j]

for r in result:
    print(r)

[1, 2]
[1, 2]

Question 16:

In [45]:
def my_function(my_data):
    rs = 0
    for i in my_data:
        rs = rs + i
    return rs

my_list = [1, 2, 3]
print(my_function(my_data = my_list))

6

Question 17:

In [46]:
def my_function(my_data):
    result = []
    for element in data:
        if element not in result:
            result.append(element)
    return result

data = [{'id': 'M12'}, 10, 20, 30]
print(my_function(my_data=data))

[{'id': 'M12'}, 10, 20, 30]

Question 18:

In [47]:
def my_function(data, max, min):
    result = []
    for i in data:
        if i < min:
            result.append(min)
        elif i > max:
            result.append(max)
        else:
            result.append(i)
    return result
my_list = [10, 2, 5, 0, 1]
max = 2
min = 1
print(my_function(data=my_list, max=max, min=min))

[2, 2, 2, 1, 1]

Question 19:

In [50]:
def my_function(x, y):
    x. extend(y)
    return x

list_num1 = [1, 2]
list_num2 = [3, 4]
list_num3 = [0, 0]
my_function(list_num1, my_function(list_num2, list_num3))

[1, 2, 3, 4, 0, 0]

Question 20: Find min

In [52]:
def my_function(n):
    x = n[0]
    for i in n:
        if i<x:
            x = i
    return x

my_list = [1, 2, 3, -1]
my_function(my_list)
#Choose C

-1

Question 21:Find max

In [53]:
def my_function(n):
    x = n[0]
    for i in n:
        if i>x:
            x = i
    return x
my_list = [1, 9, 9, 0]
my_function(my_list)
#Choose D

9

Question 22:

In [55]:
def my_function(integers, number=1):
    return any([True if i == number else False for i in integers])

my_list = [1, 2, 3, 4]
my_function(my_list, 2)
#Choose C

True

Question 23: Find mean or average

In [57]:
def my_function(list_nums = [0, 1, 2]):
    var = 0
    for i in list_nums:
        var += i
    return var/len(list_nums)

my_function()
#Choose A

1.0

Question 24:

In [58]:
def my_function(signal1, signal2):
    var = False
    for s1 in signal1:
        for s2 in signal2:
            if s1 == s2:
                var = True
                return var
print(my_function([1, 1, 1], [2, 2, 2]))
#choose D

None

Question 25:

In [59]:
def my_function(signal1, signal2):
    var = False
    for s1 in signal1:
        for s2 in signal2:
            if s1 == s2:
                var = True
                return var

print(my_function([1, 2, 3], [2, 2]))
#choose B

True

Question 26: Find Divisible 3

In [60]:
def my_function(data):
    var = []
    for i in data:
        if i%3 == 0:
            var.append(i)
    return var
print(my_function([1, 2, 3, 5, 6]))
#Choose A

[3, 6]


Question 27: Matrix unit

In [61]:
def my_function(x):
    for i in range(x):
        for j in range(x):
            if i == j:
                print('1', end=' ')
            else:
                print('0', end=' ')
        print()

my_function(2)
#Choose A

1 0
0 1

Question 28: find factorial

In [62]:
def my_function(y):
    var = 1
    while(y > 1):
        var = var * y
        y = y - 1
    return var

print(my_function(4))
#Choose C

24

Question 29: Arranged from smallest to largest

In [63]:
def my_function(signal):
    var = True
    while var:
        var = False
        for i in range(len(signal) - 1):
            if signal[i] > signal[i + 1]:
                signal[i], signal[i+1] = signal[i+1], signal[i]
                var = True

my_signal = [1, 2 ,3, 0]
my_function(my_signal)
print(my_signal)
#Choose A

[0, 1, 2, 3]

Question 30: Show document of function

In [66]:
def sum_function(num1, num2):
    '''
    Sum of two numbers
    input: num1, num2
    output: num1+num2
    '''
    return num1 + num1

print(sum_function.__doc__)
#Choose A

    Sum of two numbers
    input: num1, num2
    output: num1+num2

Question 31:  Reverse the string

In [67]:
def my_function(x):
    res = ''
    for i in x:
        res = i + res
    return res

x = 'apricot'
print(my_function(x))

#Choose B

tocirpa

Question 32: executes statements when conditions are specified

In [68]:
def function_helper(x):
    if x > 0:
        return 'T'
    else:
        return 'N'
    
def my_function(data):
    res = [function_helper(x) for x in data]
    return res
data = [2, 3, 5, -1]
print(my_function(data=data))
#Choose C

['T', 'T', 'T', 'N']

Question 33: Check for duplicate elements

In [69]:
#Check condition False
def function_helper(x, data):
    for i in data:
        if x == i:
            return 0
    return 1
        
def my_function(data):
    res = []
    for i in data:
        if function_helper(i, res):
            res.append(i)
    return res

lst = [9, 9, 8, 1, 1]
print(my_function(lst))
#Choose A

[9, 8, 1]